.wrapper {
  background-color: #CFD8DC;
}

nav {
  background-color: #607D8B;
}

nav > ul > li {
  display: inline-block;
  list-style-type: none;
  float: right;
  font-size: 20px;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-left: 1px solid black;
  color: white;
}

h1 {
  float: left;
  margin: 6px;
  padding: 6px;
  color: white;
}

#Get {
  background-color: #CFD8DC;
  color: black;
}

.function {
  background-color: #727272;
  padding: 10px 5px;
  margin-left: 10px;
}

.function > p {
  display: inline-block;
  margin: 10px;
  color: white;
}

.function > p > input {
  color: black;
}

.btn-primary {
  font-size: 13px;
  padding: 5px;
  margin-left: 10px;
}

#posts {
  background-color: #FFFFFF;
}

#categories {
  background-color: #9E9E9E;
  font-size: 15px;
}